*{
    background-color: indianred;
}

h1, h6{
    text-align: center;
    color:aqua;
}

h1{
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 400px;
    height: auto;
    position: relative;
    left: 750px;
}

